llava==1.2.2.post1
docker-pycreds==0.4.0
mpmath==1.3.0
wcwidth==0.2.13
peft==0.15.2
smmap==5.0.2
threadpoolctl==3.6.0
pip==25.1
hf-xet==1.1.0
scipy==1.15.3
nvidia-cuda-nvrtc-cu12==12.1.105
shortuuid==1.0.13
latex2mathml==3.78.0
torchvision==0.17.2
wandb==0.19.11
py-cpuinfo==9.0.0
gradio==5.29.0
scikit-learn==1.6.1
typing-inspection==0.4.0
GitPython==3.1.44
Pygments==2.19.1
nvidia-ml-py==12.575.51
charset-normalizer==3.4.2
safehttpx==0.1.6
pillow==11.0.0
sentry-sdk==2.27.0
orjson==3.10.18
gitdb==4.0.12
nvidia-cudnn-cu12==8.9.2.26
typing_extensions==4.12.2
einops==0.8.1
semantic-version==2.10.0
nvidia-nvjitlink-cu12==12.1.105
markdown-it-py==3.0.0
httpcore==1.0.9
timm==1.0.15
regex==2024.11.6
pydantic==2.11.4
nvidia-nvtx-cu12==12.1.105
markdown2==2.5.3
nvidia-cusolver-cu12==11.4.5.107
idna==3.10
pydub==0.25.1
fastapi==0.115.12
anyio==4.9.0
urllib3==2.4.0
flash_attn==2.7.4.post1
deepspeed==0.16.1
huggingface-hub==0.31.1
groovy==0.1.2
nvidia-cublas-cu12==12.1.3.1
nvidia-nccl-cu12==2.19.3
sniffio==1.3.1
tzdata==2025.2
pandas==2.2.3
websockets==15.0.1
fsspec==2024.6.1
safetensors==0.5.3
bitsandbytes==0.45.5
ruff==0.11.9
accelerate==1.6.0
Jinja2==3.1.4
nvidia-curand-cu12==10.3.2.106
ninja==1.11.1.4
uvicorn==0.34.2
starlette==0.46.2
requests==2.32.3
joblib==1.5.0
tomlkit==0.13.2
numpy==1.26.4
click==8.1.8
rich==14.0.0
setproctitle==1.3.6
nvidia-cusparselt-cu12==0.6.3
uv==0.7.3
MarkupSafe==2.1.5
msgpack==1.1.0
wavedrom==2.0.3.post3
transformers==4.51.3
gradio_client==1.10.0
nvidia-cuda-cupti-cu12==12.1.105
h11==0.16.0
filelock==3.13.1
packaging==25.0
mdurl==0.1.2
tqdm==4.67.1
httpx==0.28.1
nvidia-cuda-runtime-cu12==12.1.105
wheel==0.45.1
six==1.17.0
einops-exts==0.0.4
ffmpy==0.5.0
torch==2.2.2
hjson==3.1.0
pydantic_core==2.33.2
typer==0.15.3
platformdirs==4.3.8
python-dateutil==2.9.0.post0
networkx==3.3
nvidia-cufft-cu12==11.0.2.54
llava==1.2.2.post1
svgwrite==1.4.3
nvidia-cusparse-cu12==12.1.0.106
sympy==1.13.3
ftfy==6.3.1
nvidia-cufile-cu12==1.11.1.6
tokenizers==0.21.1
annotated-types==0.7.0
sentencepiece==0.2.0
protobuf==6.30.2
triton==2.2.0
pytz==2025.2
shellingham==1.5.4
aiofiles==24.1.0
certifi==2025.4.26
setuptools==80.4.0
psutil==7.0.0
PyYAML==6.0.2
python-multipart==0.0.20
inflect==7.3.1
backports.tarfile==1.2.0
packaging==24.2
typing_extensions==4.12.2
typeguard==4.3.0
tomli==2.0.1
jaraco.text==3.12.1
zipp==3.19.2
more-itertools==10.3.0
importlib_metadata==8.0.0
wheel==0.45.1
jaraco.context==5.3.0
autocommand==2.2.2
jaraco.collections==5.1.0
platformdirs==4.2.2
jaraco.functools==4.0.1
